<!DOCTYPE html>
<html lang="en">
    <title> Data Collector </title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
        <body> 
            <div class="container">
                <p> For your submission, thank you. <br>
                    An email you will receive.   
                </p>
                <form action="{{url_for('index')}}" method="GET">
                    <button type="homepage"> Back to Homepage</button>
                </form>
                <img src="../static/babyyoda.jpeg" alt="babyyoda">
            </div>     
    
        </body>
</html>